
.container-footer {
  background-color: #66666e;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.container-footer p {
  text-align: center;
  color: white;
  font-size: 0.8rem;
  font-family: $font-p;
}

.logo-page a:hover {
  opacity:0.5;
}

.container-footer p {
  margin-bottom: 0;
}
