/*CODE SCSS POUR LES POSTS / MOBILE*/

 ul {
   margin-top: 2rem;
 }

.display-desktop {
  display: none;
}

.display-mobile {
  display: block;
}

.img-post img {
  max-width: 100%;
}

.fb-video-perso {
  display : none;
}

.date, .auteur1, .dessin {
  font-weight: 400;
  font-family: $font-chapo;
  font-size: 1.1rem;
}

.mode {
  font-family: $font-h1;
  color: #FE0813;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-top: 1.6rem;
}

.auteur1 {
  padding-top: 2rem;
}

.dessin {
  padding-top: 0.5rem;
}

.date {
  padding-top: 0.5rem;
  padding-bottom: 2.7rem;
}


.container {
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

a {
  font-weight: bold;
  color: #FE0813;
}


p {
  font-family: $font-p;
  font-size:1.2rem;
  line-height: 2rem;
  color:#000;
}


h1 {
  font-family: $font-h1-true;
  font-size: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1.7rem;
  line-height: 3.2rem;
}

h2 {
  font-family: $font-inter;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 400;
}

h3 {
  font-family: $font-inter;
  font-size: 1.8rem;
  text-align: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.chapo {
  font-family: $font-chapo;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 2rem;
}

.head-post-mobile {
  display:block;
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 0;
}

.head-post-desktop {
  display:none;

}

.entry-title {
  padding-left: 1rem;
  padding-right: 1rem;
}

.entry-content, .share, .social-share {
  padding-left: 1rem;
  padding-right: 1rem;
}



.share h3{
  font-family: $font-h1;
  font-size: 2rem;
}

.share {
  padding-top: 2.8rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}


.social-share img {
  width: 4.8rem;
}

.social-share {
  padding-bottom: 1rem;
  justify-content: space-around;
  display: flex;
}

.encadre {
  border-style: solid;
  border-color: #FE0813;
  margin: auto;
  width: 100%;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
}

.encadre p {
  max-width: 95%;
  font-size: 1rem;
  line-height: 1.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.legende {
  font-size: 1rem;
  line-height: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;

}

.fb-video {
  display:none;
}

.fb-video-mobile {
  max-width: 300px;
  margin: auto;
  padding-bottom: 2rem;
  padding-top: 1.5rem;

}

.further img {
  max-width: 100%;
}

.further-h1 {
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}


/*CODE SCSS POUR LES POSTS SUR TABLETTE*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

  ul {
    margin-top: 2.5rem;
  }

  .display-desktop {
    display: block;
  }

  .display-mobile {
    display: none;
  }
  .img-post img {
    max-width: 100%;
  }

  .mode {
    font-size: 2rem;
    padding-top: 0.5rem;
  }

  .date, .auteur1, .dessin, .mode {
    text-align: center;
  }

  .auteur1 {
    padding-top: 2.7rem;
  }

  .head-post-mobile {
    display:none;

  }

  .head-post-desktop {
    display:block;
    width: 100%;
    height: auto;
  }
  h1 {
    text-align: center;
  }

  .chapo {
    text-align: center;
    padding-bottom: 3rem;
  }

  .entry-title {
    margin:auto;
  }

  .youtube {
    width:50%;
    max-width: 750px;
    margin: auto;
  }
  .fb-video {
    display: block;
    max-width: 550px;
    margin: auto;
    padding-bottom: 1.8rem;
    padding-top:1.5rem;
  }

  .fb-video-mobile {
    display:none;
  }

  .fb-video-perso {
    display: block;
    max-width: 900px;
    margin:auto;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
  }

  .further img {
    max-width: 100%;
  }

  .further-h1 {
    font-size: 3rem;
  }


}


/*CODE SCSS POUR LES POSTS SUR DESKTOP*/
@media only screen and (min-width: 961px) {

  ul {
    margin-top: 2.5rem;
  }

  .display-desktop {
    display: block;
  }

  .display-mobile {
    display: none;
  }

  .img-post  {
    margin: auto;
    width: 900px;
  }

  .fb-video-perso {
    display: block;
    max-width: 900px;
    margin:auto;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
  }

  .img-post img {
    max-width: 900px;
  }

  .mode {
    font-size: 2rem;
    padding-top: 0.5rem;
  }

  .date, .auteur1, .dessin, .mode {
    text-align: center;
  }

  .auteur1 {
    padding-top: 2.7rem;
  }
  .date {
    padding-bottom: 4rem;
  }
p, h1, h2, .chapo {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.entry-title {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.chapo {
  text-align: center;
  padding-bottom: 3rem;
}

.head-post-mobile {
  display:none;

}

.head-post-desktop {
  display:block;
  width: 100%;
  height: auto;
}

h1 {
  padding-bottom: 3rem;
  font-size: 3.9rem;
  text-align: center;
  line-height: 5.5rem;
}

h2 {
  margin-top: 5rem;
}

.share h3{
  font-family: $font-h1;
  font-size: 2rem;
}

.share {
  padding-top: 3.8rem;
  padding-bottom: 3rem;
}


.social-share img {
  width: 5.5rem;
}

.social-share {
  padding-bottom: 2rem;
  width:650px;
  margin: auto;
}

.encadre {
  border-style: solid;
  border-color: #FE0813;
  float: right;
  width: 50%;
  margin-left: 1em;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
}

.encadre p {
  max-width: 95%;
  font-size: 1rem;
  line-height: 1.3rem;
}

.youtube {
  width:50%;
  max-width: 750px;
  margin: auto;
}

.fb-video {
  display: block;
  max-width: 550px;
  margin: auto;
  padding-bottom: 1.8rem;
  padding-top:1.5rem;
}

.fb-video-mobile {
  display:none;
}

.further img {
  max-width: 750px;
}

.further {
    max-width: 750px;
    margin: auto;
}

.further-h1 {
  font-size: 3rem;
}

/*Liens sur ordi*/
.container {
  position: relative;
	z-index: 1; /* needed for setting pseudo-element z-index */
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

a {
  	position: relative;
  	display: inline-block;
  	outline: none;
  	color: #FE0813;
  	vertical-align: bottom;
  	text-decoration: none;
  	white-space: nowrap;
  }

a::before,
a::after {
  	pointer-events: none;
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
  	-webkit-font-smoothing: antialiased;
  	font-smoothing: antialiased;
  }
a {
	overflow: hidden;
  position: relative;
	font-weight: bold;
}

a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 110%;
	background-color: $header-background-color;
	content: '';
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	-webkit-transform: translateY(95%);
	transform: translateY(95%);
}

a:hover::before,
a:focus::before {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
}
/*fin liens sur ordi*/

}
